.faz{
    text-align: right;
}

#search{
    padding-left: auto;
    padding-right: auto;
    width: 500px;
    border-style: solid;
    border-width: 1px;
    border-radius: 25px;
    border-color: lightgrey;
    outline: none;
    
}

#textentry{
    padding-left: auto;
    padding-right: auto;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 400px;
    border-style: solid;
    border-width: 0px;
    border-radius: 25px;
    outline: none;
}

img{
    padding-top: 100px;
    padding-bottom: 20px;
}

#baz{
    display: flex;
    flex-wrap: wrap;
}

#baz > div{
    padding: 3px;
    margin-top: 30px;
    height: 10px;
}

.button{
    background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;

}

body{
    font-family: arial,sans-serif;
}

