.faz{
    text-align: right;
    color: black;
}

#search{
    padding-left: auto;
    padding-right: auto;
    width: 500px;
    border-style: solid;
    border-width: 1px;
    border-radius: 25px;
    border-color: lightgrey;
    outline: none;
    
}

#textentry{
    padding-left: auto;
    padding-right: auto;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 400px;
    border-style: solid;
    border-width: 0px;
    border-radius: 25px;
    outline: none;
}

img{
    padding-top: 100px;
    padding-bottom: 20px;
    width: 300px;
}

#baz{
    display: flex;
    flex-wrap: wrap;
}

#baz > div{
    padding: 3px;
    margin-top: 30px;
    height: 10px;
}

.button{
    height: 30px;
}

#advanced_button{

    border-radius: 2px;
    font-size: 11px;
    font-weight: bold;
    margin-right: 16px;
    height: 27px;
    min-width: 54px;
    outline: 0;
    padding: 0 8px;
    border: 1px solid #3079ed;
    color: #fff;
    box-shadow: none;
    background-color: #4d90fe;
    background-image: (top,#4d90fe,#4787ed);
}

#Find{
    font-family: arial,sans-serif;
    margin: 25px 35px; 
}

.advancedtextextry{
    padding-top: 8px;
    padding-bottom: 8px;
    width: 400px;
    border-style: solid;
    border-width: 1px;
    outline: none;
    border-color: lightgrey;
    vertical-align: center;
    float: right;
}

#advanced{
    color: #d93025;
    font-size: 100px;
    margin: 25px 35px;
    padding-bottom: 50px;
    font: inherit;      
    
}

#advanced_img{
    padding-top: 0px;
    padding-bottom: 10px;
    padding-right: 1300px;
    width: 100px;
    vertical-align: left;
}

#advancedimg{
    background-color: #f1f1f1;
    margin: 0px;
}

.laz{
    margin: 35px;

}

.entry {
    width: 600px;
}

.text{
    float: left;
    margin: 35px;
}